<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/e/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-10}</string>
                <key>spriteSize</key>
                <string>{58,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{541,69},{58,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/e/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-10}</string>
                <key>spriteSize</key>
                <string>{34,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1169,1},{34,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/e/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{50,58}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1205,1},{50,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/e/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-12}</string>
                <key>spriteSize</key>
                <string>{50,56}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1443,61},{50,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/e/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-11}</string>
                <key>spriteSize</key>
                <string>{48,58}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1257,1},{48,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/e/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-11}</string>
                <key>spriteSize</key>
                <string>{48,58}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1259,61},{48,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/e/7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-11}</string>
                <key>spriteSize</key>
                <string>{48,58}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1307,1},{48,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/e/8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-11}</string>
                <key>spriteSize</key>
                <string>{46,58}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1309,61},{46,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/en2/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{34,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,62}</string>
                <key>textureRect</key>
                <string>{{1569,1},{34,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/en2/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-4}</string>
                <key>spriteSize</key>
                <string>{52,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,62}</string>
                <key>textureRect</key>
                <string>{{189,73},{52,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/en2/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,0}</string>
                <key>spriteSize</key>
                <string>{40,62}</string>
                <key>spriteSourceSize</key>
                <string>{80,62}</string>
                <key>textureRect</key>
                <string>{{931,1},{40,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/en2/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-1}</string>
                <key>spriteSize</key>
                <string>{38,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,62}</string>
                <key>textureRect</key>
                <string>{{1121,63},{38,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/en2/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{38,62}</string>
                <key>spriteSourceSize</key>
                <string>{80,62}</string>
                <key>textureRect</key>
                <string>{{967,65},{38,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/en2/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{80,62}</string>
                <key>textureRect</key>
                <string>{{1571,57},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/en2/7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,62}</string>
                <key>textureRect</key>
                <string>{{133,73},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/en2/8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-2}</string>
                <key>spriteSize</key>
                <string>{46,58}</string>
                <key>spriteSourceSize</key>
                <string>{80,62}</string>
                <key>textureRect</key>
                <string>{{1357,1},{46,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/n/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{48,62}</string>
                <key>spriteSourceSize</key>
                <string>{80,62}</string>
                <key>textureRect</key>
                <string>{{881,1},{48,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/n/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-2}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{80,62}</string>
                <key>textureRect</key>
                <string>{{417,69},{60,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/n/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{34,62}</string>
                <key>spriteSourceSize</key>
                <string>{80,62}</string>
                <key>textureRect</key>
                <string>{{1007,65},{34,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/n/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{34,62}</string>
                <key>spriteSourceSize</key>
                <string>{80,62}</string>
                <key>textureRect</key>
                <string>{{1011,1},{34,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/n/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{34,62}</string>
                <key>spriteSourceSize</key>
                <string>{80,62}</string>
                <key>textureRect</key>
                <string>{{1043,65},{34,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/n/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-4}</string>
                <key>spriteSize</key>
                <string>{36,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,62}</string>
                <key>textureRect</key>
                <string>{{1533,57},{36,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/n/7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{40,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,62}</string>
                <key>textureRect</key>
                <string>{{1527,1},{40,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/n/8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{42,58}</string>
                <key>spriteSourceSize</key>
                <string>{80,62}</string>
                <key>textureRect</key>
                <string>{{1357,61},{42,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/s/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-8}</string>
                <key>spriteSize</key>
                <string>{44,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{631,1},{44,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/s/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-11}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{479,69},{60,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/s/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-8}</string>
                <key>spriteSize</key>
                <string>{34,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{755,1},{34,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/s/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-8}</string>
                <key>spriteSize</key>
                <string>{34,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{791,1},{34,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/s/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-7}</string>
                <key>spriteSize</key>
                <string>{34,66}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{595,1},{34,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/s/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{36,70}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{223,1},{36,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/s/7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{40,70}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{181,1},{40,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/s/8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{42,68}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{319,1},{42,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/se2/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-10}</string>
                <key>spriteSize</key>
                <string>{70,62}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{1,1},{70,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/se2/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{40,58}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1401,61},{40,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/se2/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-10}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1047,1},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/se2/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-10}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1079,63},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/se2/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-10}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1089,1},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/se2/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-7}</string>
                <key>spriteSize</key>
                <string>{38,66}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{477,1},{38,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/se2/7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-7}</string>
                <key>spriteSize</key>
                <string>{36,66}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{557,1},{36,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/se2/8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-8}</string>
                <key>spriteSize</key>
                <string>{36,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{717,1},{36,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/e/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-14}</string>
                <key>spriteSize</key>
                <string>{62,52}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{827,1},{62,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/e/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-13}</string>
                <key>spriteSize</key>
                <string>{70,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1,73},{70,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/e/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-12}</string>
                <key>spriteSize</key>
                <string>{70,56}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{65,1},{70,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/e/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-12}</string>
                <key>spriteSize</key>
                <string>{68,56}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{261,1},{68,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/e/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-12}</string>
                <key>spriteSize</key>
                <string>{70,56}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{123,1},{70,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/e/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-13}</string>
                <key>spriteSize</key>
                <string>{58,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{73,73},{58,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/en2/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-12}</string>
                <key>spriteSize</key>
                <string>{40,56}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1445,1},{40,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/en2/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-10}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{819,67},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/en2/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-12}</string>
                <key>spriteSize</key>
                <string>{58,56}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{297,71},{58,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/en2/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-11}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{603,69},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/en2/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-9}</string>
                <key>spriteSize</key>
                <string>{46,62}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{919,65},{46,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/en2/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-12}</string>
                <key>spriteSize</key>
                <string>{36,56}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1495,59},{36,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/n/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-10}</string>
                <key>spriteSize</key>
                <string>{48,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{769,67},{48,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/n/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{38,64}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{677,1},{38,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/n/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{36,62}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{973,1},{36,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/n/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{36,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1131,1},{36,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/n/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{38,66}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{517,1},{38,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/n/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-9}</string>
                <key>spriteSize</key>
                <string>{50,62}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{867,65},{50,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/s/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-14}</string>
                <key>spriteSize</key>
                <string>{48,52}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1605,1},{48,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/s/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-11}</string>
                <key>spriteSize</key>
                <string>{38,58}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1405,1},{38,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/s/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-10}</string>
                <key>spriteSize</key>
                <string>{36,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1161,63},{36,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/s/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-14}</string>
                <key>spriteSize</key>
                <string>{36,52}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1625,55},{36,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/s/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-12}</string>
                <key>spriteSize</key>
                <string>{38,56}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1487,1},{38,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/s/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{50,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{717,67},{50,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/se2/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-14}</string>
                <key>spriteSize</key>
                <string>{66,52}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{423,1},{66,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/se2/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-11}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1199,63},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/se2/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-10}</string>
                <key>spriteSize</key>
                <string>{52,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{663,67},{52,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/se2/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-13}</string>
                <key>spriteSize</key>
                <string>{52,54}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{243,73},{52,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/se2/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-12}</string>
                <key>spriteSize</key>
                <string>{58,56}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{357,71},{58,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/se2/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-11}</string>
                <key>spriteSize</key>
                <string>{66,58}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{363,1},{66,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>archer.png</string>
            <key>size</key>
            <string>{1662,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d44152bf8a78da4ba6ed284bf72a434:420828362c113a7ed41d41e8d1e90a07:fad562d0e9baf5c31b4838c1ea7e9105$</string>
            <key>textureFileName</key>
            <string>archer.png</string>
        </dict>
    </dict>
</plist>
