<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{42,127}</string>
                <key>spriteSourceSize</key>
                <string>{132,181}</string>
                <key>textureRect</key>
                <string>{{1,1},{42,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-20}</string>
                <key>spriteSize</key>
                <string>{42,127}</string>
                <key>spriteSourceSize</key>
                <string>{132,181}</string>
                <key>textureRect</key>
                <string>{{1,45},{42,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-15}</string>
                <key>spriteSize</key>
                <string>{62,119}</string>
                <key>spriteSourceSize</key>
                <string>{132,181}</string>
                <key>textureRect</key>
                <string>{{130,67},{62,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-16}</string>
                <key>spriteSize</key>
                <string>{64,119}</string>
                <key>spriteSourceSize</key>
                <string>{132,181}</string>
                <key>textureRect</key>
                <string>{{130,1},{64,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-5}</string>
                <key>spriteSize</key>
                <string>{50,99}</string>
                <key>spriteSourceSize</key>
                <string>{132,181}</string>
                <key>textureRect</key>
                <string>{{1,89},{50,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-5}</string>
                <key>spriteSize</key>
                <string>{50,99}</string>
                <key>spriteSourceSize</key>
                <string>{132,181}</string>
                <key>textureRect</key>
                <string>{{102,131},{50,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{54,95}</string>
                <key>spriteSourceSize</key>
                <string>{132,181}</string>
                <key>textureRect</key>
                <string>{{1,141},{54,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{52,95}</string>
                <key>spriteSourceSize</key>
                <string>{132,181}</string>
                <key>textureRect</key>
                <string>{{203,131},{52,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,8}</string>
                <key>spriteSize</key>
                <string>{48,91}</string>
                <key>spriteSourceSize</key>
                <string>{132,181}</string>
                <key>textureRect</key>
                <string>{{98,183},{48,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,8}</string>
                <key>spriteSize</key>
                <string>{48,91}</string>
                <key>spriteSourceSize</key>
                <string>{132,181}</string>
                <key>textureRect</key>
                <string>{{1,197},{48,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{48,87}</string>
                <key>spriteSourceSize</key>
                <string>{132,181}</string>
                <key>textureRect</key>
                <string>{{55,274},{48,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-47}</string>
                <key>spriteSize</key>
                <string>{52,87}</string>
                <key>spriteSourceSize</key>
                <string>{132,181}</string>
                <key>textureRect</key>
                <string>{{1,274},{52,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-58}</string>
                <key>spriteSize</key>
                <string>{42,65}</string>
                <key>spriteSourceSize</key>
                <string>{132,181}</string>
                <key>textureRect</key>
                <string>{{201,274},{42,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-61}</string>
                <key>spriteSize</key>
                <string>{44,59}</string>
                <key>spriteSourceSize</key>
                <string>{132,181}</string>
                <key>textureRect</key>
                <string>{{191,228},{44,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{46,87}</string>
                <key>spriteSourceSize</key>
                <string>{132,181}</string>
                <key>textureRect</key>
                <string>{{105,274},{46,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{46,87}</string>
                <key>spriteSourceSize</key>
                <string>{132,181}</string>
                <key>textureRect</key>
                <string>{{153,274},{46,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{38,87}</string>
                <key>spriteSourceSize</key>
                <string>{132,181}</string>
                <key>textureRect</key>
                <string>{{94,233},{38,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cfire.png</string>
            <key>size</key>
            <string>{256,362}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ec041deec672d72e22697f1d3f5396e:0752000ce6e5367117731075b8412730:d9647cd15805958384bfbc2d962349ea$</string>
            <key>textureFileName</key>
            <string>cfire.png</string>
        </dict>
    </dict>
</plist>
