<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/e/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,48}</string>
                <key>spriteSourceSize</key>
                <string>{41,48}</string>
                <key>textureRect</key>
                <string>{{207,79},{41,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/e/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,43}</string>
                <key>spriteSourceSize</key>
                <string>{29,43}</string>
                <key>textureRect</key>
                <string>{{1,181},{29,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/e/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{40,46}</string>
                <key>spriteSourceSize</key>
                <string>{42,48}</string>
                <key>textureRect</key>
                <string>{{207,129},{40,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/e/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{37,45}</string>
                <key>spriteSourceSize</key>
                <string>{39,47}</string>
                <key>textureRect</key>
                <string>{{298,123},{37,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/e/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,43}</string>
                <key>spriteSourceSize</key>
                <string>{39,43}</string>
                <key>textureRect</key>
                <string>{{345,164},{35,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/en2/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,59}</string>
                <key>spriteSourceSize</key>
                <string>{52,59}</string>
                <key>textureRect</key>
                <string>{{1,1},{52,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/en2/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{42,31}</string>
                <key>spriteSourceSize</key>
                <string>{48,39}</string>
                <key>textureRect</key>
                <string>{{382,169},{42,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/en2/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,44}</string>
                <key>spriteSourceSize</key>
                <string>{54,44}</string>
                <key>textureRect</key>
                <string>{{49,77},{54,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/en2/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,46}</string>
                <key>spriteSourceSize</key>
                <string>{59,46}</string>
                <key>textureRect</key>
                <string>{{1,62},{59,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/en2/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,43}</string>
                <key>spriteSourceSize</key>
                <string>{54,43}</string>
                <key>textureRect</key>
                <string>{{436,50},{54,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/n/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{60,39}</string>
                <key>spriteSourceSize</key>
                <string>{62,39}</string>
                <key>textureRect</key>
                <string>{{120,1},{60,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/n/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{57,33}</string>
                <key>spriteSourceSize</key>
                <string>{63,33}</string>
                <key>textureRect</key>
                <string>{{337,71},{57,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/n/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{57,29}</string>
                <key>spriteSourceSize</key>
                <string>{61,31}</string>
                <key>textureRect</key>
                <string>{{372,69},{57,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/n/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{59,31}</string>
                <key>spriteSourceSize</key>
                <string>{59,33}</string>
                <key>textureRect</key>
                <string>{{244,40},{59,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/n/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{58,35}</string>
                <key>spriteSourceSize</key>
                <string>{60,37}</string>
                <key>textureRect</key>
                <string>{{181,42},{58,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/s/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{61,31}</string>
                <key>spriteSourceSize</key>
                <string>{65,35}</string>
                <key>textureRect</key>
                <string>{{55,44},{61,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/s/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{60,39}</string>
                <key>spriteSourceSize</key>
                <string>{64,39}</string>
                <key>textureRect</key>
                <string>{{182,1},{60,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/s/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{64,34}</string>
                <key>spriteSourceSize</key>
                <string>{66,36}</string>
                <key>textureRect</key>
                <string>{{308,1},{64,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/s/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{62,31}</string>
                <key>spriteSourceSize</key>
                <string>{64,35}</string>
                <key>textureRect</key>
                <string>{{374,1},{62,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/s/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{57,28}</string>
                <key>spriteSourceSize</key>
                <string>{65,28}</string>
                <key>textureRect</key>
                <string>{{372,100},{57,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/se2/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,44}</string>
                <key>spriteSourceSize</key>
                <string>{49,44}</string>
                <key>textureRect</key>
                <string>{{100,123},{49,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/se2/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,51}</string>
                <key>spriteSourceSize</key>
                <string>{47,51}</string>
                <key>textureRect</key>
                <string>{{438,1},{47,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/se2/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{46,41}</string>
                <key>spriteSourceSize</key>
                <string>{50,41}</string>
                <key>textureRect</key>
                <string>{{255,123},{46,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/se2/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,41}</string>
                <key>spriteSourceSize</key>
                <string>{48,41}</string>
                <key>textureRect</key>
                <string>{{150,158},{48,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/se2/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{53,41}</string>
                <key>spriteSourceSize</key>
                <string>{55,49}</string>
                <key>textureRect</key>
                <string>{{152,79},{53,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/e/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,60}</string>
                <key>spriteSourceSize</key>
                <string>{32,60}</string>
                <key>textureRect</key>
                <string>{{308,37},{32,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/e/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,48}</string>
                <key>spriteSourceSize</key>
                <string>{41,48}</string>
                <key>textureRect</key>
                <string>{{294,73},{41,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/e/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,50}</string>
                <key>spriteSourceSize</key>
                <string>{32,50}</string>
                <key>textureRect</key>
                <string>{{337,130},{32,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/e/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,50}</string>
                <key>spriteSourceSize</key>
                <string>{37,50}</string>
                <key>textureRect</key>
                <string>{{47,174},{37,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/en2/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{56,44}</string>
                <key>spriteSourceSize</key>
                <string>{56,46}</string>
                <key>textureRect</key>
                <string>{{1,123},{56,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/en2/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{37,49}</string>
                <key>spriteSourceSize</key>
                <string>{39,53}</string>
                <key>textureRect</key>
                <string>{{244,171},{37,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/en2/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{49,37}</string>
                <key>spriteSourceSize</key>
                <string>{55,37}</string>
                <key>textureRect</key>
                <string>{{99,174},{49,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/en2/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,48}</string>
                <key>spriteSourceSize</key>
                <string>{42,48}</string>
                <key>textureRect</key>
                <string>{{250,73},{42,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/n/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{415,169},{36,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/n/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,35}</string>
                <key>spriteSourceSize</key>
                <string>{60,35}</string>
                <key>textureRect</key>
                <string>{{374,34},{60,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/n/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{37,41}</string>
                <key>spriteSourceSize</key>
                <string>{41,43}</string>
                <key>textureRect</key>
                <string>{{389,130},{37,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/n/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,34}</string>
                <key>spriteSourceSize</key>
                <string>{59,34}</string>
                <key>textureRect</key>
                <string>{{120,42},{59,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/s/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{40,42}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{200,171},{40,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/s/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,37}</string>
                <key>spriteSourceSize</key>
                <string>{62,37}</string>
                <key>textureRect</key>
                <string>{{244,1},{62,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/s/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,43}</string>
                <key>spriteSourceSize</key>
                <string>{45,43}</string>
                <key>textureRect</key>
                <string>{{105,78},{45,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/s/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,41}</string>
                <key>spriteSourceSize</key>
                <string>{63,41}</string>
                <key>textureRect</key>
                <string>{{55,1},{63,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/se2/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,38}</string>
                <key>spriteSourceSize</key>
                <string>{34,38}</string>
                <key>textureRect</key>
                <string>{{432,95},{34,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/se2/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,49}</string>
                <key>spriteSourceSize</key>
                <string>{51,49}</string>
                <key>textureRect</key>
                <string>{{47,123},{51,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/se2/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,53}</string>
                <key>spriteSourceSize</key>
                <string>{34,53}</string>
                <key>textureRect</key>
                <string>{{152,122},{34,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/se2/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{298,170},{41,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>flies.png</string>
            <key>size</key>
            <string>{491,212}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d06b08c9d992ebbea654cb5358ac350:b371f7559202caf379997cc0007ff0d6:6a5cca3428f93b58944c284b848c0e8b$</string>
            <key>textureFileName</key>
            <string>flies.png</string>
        </dict>
    </dict>
</plist>
