<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/n/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-12}</string>
                <key>spriteSize</key>
                <string>{72,77}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{1162,161},{72,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/n/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{66,99}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{77,121},{66,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/n/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-13}</string>
                <key>spriteSize</key>
                <string>{50,67}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{1428,76},{50,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/n/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-15}</string>
                <key>spriteSize</key>
                <string>{96,95}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{145,101},{96,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/n/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-19}</string>
                <key>spriteSize</key>
                <string>{74,103}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{1,121},{74,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/n/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-10}</string>
                <key>spriteSize</key>
                <string>{86,81}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{676,89},{86,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/s/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-12}</string>
                <key>spriteSize</key>
                <string>{72,77}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{1216,80},{72,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/s/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-10}</string>
                <key>spriteSize</key>
                <string>{66,81}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{1064,1},{66,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/s/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-7}</string>
                <key>spriteSize</key>
                <string>{50,87}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{613,1},{50,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/s/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-22}</string>
                <key>spriteSize</key>
                <string>{96,77}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{163,1},{96,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/s/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-22}</string>
                <key>spriteSize</key>
                <string>{74,77}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{1140,82},{74,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/s/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-17}</string>
                <key>spriteSize</key>
                <string>{86,77}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{750,1},{86,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/sw/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-6}</string>
                <key>spriteSize</key>
                <string>{82,77}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{906,1},{82,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/sw/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{74,79}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{855,174},{74,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/sw/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-4}</string>
                <key>spriteSize</key>
                <string>{66,79}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{1072,84},{66,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/sw/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-10}</string>
                <key>spriteSize</key>
                <string>{52,79}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{1132,1},{52,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/sw/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-6}</string>
                <key>spriteSize</key>
                <string>{60,75}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{311,193},{60,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/sw/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-5}</string>
                <key>spriteSize</key>
                <string>{78,77}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{1083,165},{78,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/w/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-1}</string>
                <key>spriteSize</key>
                <string>{66,71}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{1481,1},{66,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/w/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-3}</string>
                <key>spriteSize</key>
                <string>{82,69}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{455,184},{82,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/w/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-3}</string>
                <key>spriteSize</key>
                <string>{72,67}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{1481,69},{72,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/w/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{88,75}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{536,1},{88,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/w/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{86,75}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{759,89},{86,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/w/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{72,73}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{619,180},{72,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/wn/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{70,73}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{1356,79},{70,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/wn/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,1}</string>
                <key>spriteSize</key>
                <string>{72,77}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{1262,1},{72,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/wn/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-12}</string>
                <key>spriteSize</key>
                <string>{56,65}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{388,193},{56,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/wn/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,2}</string>
                <key>spriteSize</key>
                <string>{118,79}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{1,1},{118,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/wn/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,2}</string>
                <key>spriteSize</key>
                <string>{98,79}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{82,1},{98,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/wn/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{76,75}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{778,177},{76,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/en2/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{64,77}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{1290,80},{64,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/en2/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,5}</string>
                <key>spriteSize</key>
                <string>{58,95}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{242,1},{58,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/en2/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,16}</string>
                <key>spriteSize</key>
                <string>{54,93}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{145,199},{54,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/en2/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,10}</string>
                <key>spriteSize</key>
                <string>{58,95}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{242,98},{58,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/en2/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{64,87}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{610,91},{64,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/en2/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,6}</string>
                <key>spriteSize</key>
                <string>{66,73}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{1413,1},{66,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/n/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-10}</string>
                <key>spriteSize</key>
                <string>{86,83}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{665,1},{86,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/n/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-12}</string>
                <key>spriteSize</key>
                <string>{80,89}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{454,1},{80,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/n/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{72,87}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{536,91},{72,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/n/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-9}</string>
                <key>spriteSize</key>
                <string>{78,83}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{836,89},{78,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/n/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-12}</string>
                <key>spriteSize</key>
                <string>{82,89}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{452,93},{82,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/n/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-6}</string>
                <key>spriteSize</key>
                <string>{82,77}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{916,85},{82,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/s/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-16}</string>
                <key>spriteSize</key>
                <string>{86,75}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{829,1},{86,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/s/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-15}</string>
                <key>spriteSize</key>
                <string>{80,71}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{1010,169},{80,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/s/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-19}</string>
                <key>spriteSize</key>
                <string>{72,75}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{1308,159},{72,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/s/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-16}</string>
                <key>spriteSize</key>
                <string>{78,73}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{539,180},{78,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/s/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-19}</string>
                <key>spriteSize</key>
                <string>{82,77}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{985,1},{82,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/s/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-18}</string>
                <key>spriteSize</key>
                <string>{82,77}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{931,169},{82,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/se2/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,0}</string>
                <key>spriteSize</key>
                <string>{82,75}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{995,85},{82,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/se2/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-2}</string>
                <key>spriteSize</key>
                <string>{94,73}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{302,97},{94,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/se2/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-3}</string>
                <key>spriteSize</key>
                <string>{94,73}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{377,97},{94,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/se2/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-2}</string>
                <key>spriteSize</key>
                <string>{94,75}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{302,1},{94,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/se2/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-2}</string>
                <key>spriteSize</key>
                <string>{90,73}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{379,1},{90,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/se2/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-2}</string>
                <key>spriteSize</key>
                <string>{76,75}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{1336,1},{76,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/w/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{54,69}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{240,199},{54,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/w/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{70,77}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{1236,159},{70,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/w/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,3}</string>
                <key>spriteSize</key>
                <string>{76,83}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{693,177},{76,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/w/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,2}</string>
                <key>spriteSize</key>
                <string>{74,77}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{1186,1},{74,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/w/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{66,73}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{1480,143},{66,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/w/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{62,65}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{1382,154},{62,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero.png</string>
            <key>size</key>
            <string>{1553,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3216a75d5b937960bdea56c1a8f1084:1a348d5ee37f782f09957d59fbf61877:e44e28a7f983377b8bb0c97d886e5bb7$</string>
            <key>textureFileName</key>
            <string>hero.png</string>
        </dict>
    </dict>
</plist>
