<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,2}</string>
                <key>spriteSize</key>
                <string>{120,101}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,15}</string>
                <key>spriteSize</key>
                <string>{86,125}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{408,1},{86,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-15}</string>
                <key>spriteSize</key>
                <string>{96,95}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{123,1},{96,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-10}</string>
                <key>spriteSize</key>
                <string>{66,81}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{535,1},{66,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-5}</string>
                <key>spriteSize</key>
                <string>{82,91}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{220,1},{82,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-27}</string>
                <key>spriteSize</key>
                <string>{102,87}</string>
                <key>spriteSourceSize</key>
                <string>{176,155}</string>
                <key>textureRect</key>
                <string>{{304,1},{102,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hrGroupAttack.png</string>
            <key>size</key>
            <string>{602,103}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8de9dcf913031df6bc521ac947e15b4d:6f830c8d230eb31b33a2e9942d2ecc6f:8ea1c299e4ab2ba101928980a8749893$</string>
            <key>textureFileName</key>
            <string>hrGroupAttack.png</string>
        </dict>
    </dict>
</plist>
