<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/e/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,11}</string>
                <key>spriteSize</key>
                <string>{67,93}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{199,114},{67,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/e/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,5}</string>
                <key>spriteSize</key>
                <string>{79,105}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{195,568},{79,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/e/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,15}</string>
                <key>spriteSize</key>
                <string>{73,85}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{94,394},{73,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/e/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,13}</string>
                <key>spriteSize</key>
                <string>{91,89}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1,795},{91,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/e/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,22}</string>
                <key>spriteSize</key>
                <string>{111,71}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{272,268},{111,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/e/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,17}</string>
                <key>spriteSize</key>
                <string>{105,81}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{195,649},{105,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/e/7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,6}</string>
                <key>spriteSize</key>
                <string>{97,103}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{391,906},{97,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/en2/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,10}</string>
                <key>spriteSize</key>
                <string>{75,95}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1,469},{75,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/en2/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,4}</string>
                <key>spriteSize</key>
                <string>{67,107}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{294,128},{67,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/en2/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,9}</string>
                <key>spriteSize</key>
                <string>{71,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{90,248},{71,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/en2/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,11}</string>
                <key>spriteSize</key>
                <string>{83,93}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1,625},{83,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/en2/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,16}</string>
                <key>spriteSize</key>
                <string>{91,83}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1,710},{91,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/en2/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,13}</string>
                <key>spriteSize</key>
                <string>{77,89}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{278,489},{77,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/en2/7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,4}</string>
                <key>spriteSize</key>
                <string>{65,107}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{373,61},{65,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/n/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,12}</string>
                <key>spriteSize</key>
                <string>{65,91}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1,111},{65,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/n/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,10}</string>
                <key>spriteSize</key>
                <string>{95,95}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{294,906},{95,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/n/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,7}</string>
                <key>spriteSize</key>
                <string>{50,101}</string>
                <key>spriteSourceSize</key>
                <string>{58,115}</string>
                <key>textureRect</key>
                <string>{{205,1},{50,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/n/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{58,91}</string>
                <key>spriteSourceSize</key>
                <string>{58,115}</string>
                <key>textureRect</key>
                <string>{{419,1},{58,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/n/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,12}</string>
                <key>spriteSize</key>
                <string>{48,91}</string>
                <key>spriteSourceSize</key>
                <string>{58,115}</string>
                <key>textureRect</key>
                <string>{{1,1},{48,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/n/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,10}</string>
                <key>spriteSize</key>
                <string>{59,95}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{108,51},{59,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/n/7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,2}</string>
                <key>spriteSize</key>
                <string>{71,111}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{385,268},{71,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/s/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,6}</string>
                <key>spriteSize</key>
                <string>{65,103}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{94,112},{65,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/s/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,22}</string>
                <key>spriteSize</key>
                <string>{95,71}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1,321},{95,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/s/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{50,109}</string>
                <key>spriteSourceSize</key>
                <string>{58,115}</string>
                <key>textureRect</key>
                <string>{{308,1},{50,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/s/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{58,105}</string>
                <key>spriteSourceSize</key>
                <string>{58,115}</string>
                <key>textureRect</key>
                <string>{{1,51},{58,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/s/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,3}</string>
                <key>spriteSize</key>
                <string>{48,109}</string>
                <key>spriteSourceSize</key>
                <string>{58,115}</string>
                <key>textureRect</key>
                <string>{{94,1},{48,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/s/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,11}</string>
                <key>spriteSize</key>
                <string>{59,93}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{205,53},{59,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/s/7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,26}</string>
                <key>spriteSize</key>
                <string>{71,63}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{300,53},{71,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/se2/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,9}</string>
                <key>spriteSize</key>
                <string>{67,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{403,128},{67,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/se2/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,12}</string>
                <key>spriteSize</key>
                <string>{95,91}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{94,904},{95,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/se2/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,6}</string>
                <key>spriteSize</key>
                <string>{69,103}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{274,197},{69,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/se2/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,6}</string>
                <key>spriteSize</key>
                <string>{87,103}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{304,817},{87,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack/se2/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,12}</string>
                <key>spriteSize</key>
                <string>{101,91}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{191,904},{101,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/se2/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,19}</string>
                <key>spriteSize</key>
                <string>{101,77}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{369,489},{101,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack/se2/7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,17}</string>
                <key>spriteSize</key>
                <string>{101,81}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{302,649},{101,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/e/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,16}</string>
                <key>spriteSize</key>
                <string>{85,83}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{94,726},{85,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/e/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,16}</string>
                <key>spriteSize</key>
                <string>{95,83}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{181,732},{95,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/e/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,15}</string>
                <key>spriteSize</key>
                <string>{103,85}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{94,817},{103,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/e/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,13}</string>
                <key>spriteSize</key>
                <string>{91,89}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1,886},{91,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/e/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,14}</string>
                <key>spriteSize</key>
                <string>{71,87}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1,247},{71,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/e/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,18}</string>
                <key>spriteSize</key>
                <string>{69,79}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{193,183},{69,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/en2/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,12}</string>
                <key>spriteSize</key>
                <string>{69,91}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{379,197},{69,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/en2/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,10}</string>
                <key>spriteSize</key>
                <string>{77,95}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1,546},{77,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/en2/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,9}</string>
                <key>spriteSize</key>
                <string>{81,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{405,649},{81,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/en2/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,10}</string>
                <key>spriteSize</key>
                <string>{71,95}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{189,341},{71,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/en2/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,6}</string>
                <key>spriteSize</key>
                <string>{73,103}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{181,414},{73,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/en2/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,11}</string>
                <key>spriteSize</key>
                <string>{73,93}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{286,414},{73,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/n/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,10}</string>
                <key>spriteSize</key>
                <string>{83,95}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{278,732},{83,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/n/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,6}</string>
                <key>spriteSize</key>
                <string>{71,103}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{286,341},{71,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/n/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,9}</string>
                <key>spriteSize</key>
                <string>{67,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{94,179},{67,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/n/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,10}</string>
                <key>spriteSize</key>
                <string>{77,95}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{98,566},{77,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/n/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,6}</string>
                <key>spriteSize</key>
                <string>{85,103}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{199,817},{85,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/n/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,9}</string>
                <key>spriteSize</key>
                <string>{87,97}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{409,817},{87,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/s/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,15}</string>
                <key>spriteSize</key>
                <string>{83,85}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{375,732},{83,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/s/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,13}</string>
                <key>spriteSize</key>
                <string>{71,89}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{98,321},{71,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/s/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,12}</string>
                <key>spriteSize</key>
                <string>{67,91}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1,178},{67,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/s/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,17}</string>
                <key>spriteSize</key>
                <string>{77,81}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{189,254},{77,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/s/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,18}</string>
                <key>spriteSize</key>
                <string>{85,79}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{98,469},{85,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move/s/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,18}</string>
                <key>spriteSize</key>
                <string>{87,79}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{302,568},{87,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/se2/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,20}</string>
                <key>spriteSize</key>
                <string>{97,75}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{179,489},{97,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/se2/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,18}</string>
                <key>spriteSize</key>
                <string>{97,79}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{391,568},{97,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/se2/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,18}</string>
                <key>spriteSize</key>
                <string>{97,79}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{96,645},{97,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/se2/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,21}</string>
                <key>spriteSize</key>
                <string>{97,73}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{381,414},{97,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/se2/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,22}</string>
                <key>spriteSize</key>
                <string>{91,71}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{391,341},{91,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move/se2/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,22}</string>
                <key>spriteSize</key>
                <string>{91,71}</string>
                <key>spriteSourceSize</key>
                <string>{115,115}</string>
                <key>textureRect</key>
                <string>{{1,394},{91,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lightman.png</string>
            <key>size</key>
            <string>{511,1004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:806e71f802338a09cf646f244e422eff:412607bf82eef13898298da9ba3d2a3e:1e5b20b904df82fa8ff5329c6d19c9f0$</string>
            <key>textureFileName</key>
            <string>lightman.png</string>
        </dict>
    </dict>
</plist>
