<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,80}</string>
                <key>spriteSize</key>
                <string>{104,303}</string>
                <key>spriteSourceSize</key>
                <string>{222,463}</string>
                <key>textureRect</key>
                <string>{{311,868},{104,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,75}</string>
                <key>spriteSize</key>
                <string>{138,313}</string>
                <key>spriteSourceSize</key>
                <string>{222,463}</string>
                <key>textureRect</key>
                <string>{{287,553},{138,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,28}</string>
                <key>spriteSize</key>
                <string>{134,407}</string>
                <key>spriteSourceSize</key>
                <string>{222,463}</string>
                <key>textureRect</key>
                <string>{{175,934},{134,407}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,9}</string>
                <key>spriteSize</key>
                <string>{136,445}</string>
                <key>spriteSourceSize</key>
                <string>{222,463}</string>
                <key>textureRect</key>
                <string>{{1,553},{136,445}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-3}</string>
                <key>spriteSize</key>
                <string>{146,379}</string>
                <key>spriteSourceSize</key>
                <string>{222,463}</string>
                <key>textureRect</key>
                <string>{{139,553},{146,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-6}</string>
                <key>spriteSize</key>
                <string>{176,401}</string>
                <key>spriteSourceSize</key>
                <string>{222,463}</string>
                <key>textureRect</key>
                <string>{{1,375},{176,401}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-14}</string>
                <key>spriteSize</key>
                <string>{184,417}</string>
                <key>spriteSourceSize</key>
                <string>{222,463}</string>
                <key>textureRect</key>
                <string>{{1,1},{184,417}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-15}</string>
                <key>spriteSize</key>
                <string>{186,409}</string>
                <key>spriteSourceSize</key>
                <string>{222,463}</string>
                <key>textureRect</key>
                <string>{{1,187},{186,409}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-37}</string>
                <key>spriteSize</key>
                <string>{172,341}</string>
                <key>spriteSourceSize</key>
                <string>{222,463}</string>
                <key>textureRect</key>
                <string>{{1,1000},{172,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lightEff1.png</string>
            <key>size</key>
            <string>{426,1342}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fd07598d0fe534a0af913f3c11275c3:64ccf160979a62dac4742d4f71ea6b77:55c908620b072a50c848038260dc1cdf$</string>
            <key>textureFileName</key>
            <string>lightEff1.png</string>
        </dict>
    </dict>
</plist>
