<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{461,461}</string>
                <key>spriteSourceSize</key>
                <string>{461,461}</string>
                <key>textureRect</key>
                <string>{{1,1},{461,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{361,363}</string>
                <key>spriteSourceSize</key>
                <string>{461,461}</string>
                <key>textureRect</key>
                <string>{{464,1},{361,363}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{267,253}</string>
                <key>spriteSourceSize</key>
                <string>{461,461}</string>
                <key>textureRect</key>
                <string>{{827,1},{267,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{353,141}</string>
                <key>spriteSourceSize</key>
                <string>{461,461}</string>
                <key>textureRect</key>
                <string>{{464,366},{353,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{427,33}</string>
                <key>spriteSourceSize</key>
                <string>{461,461}</string>
                <key>textureRect</key>
                <string>{{1,464},{427,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>light.png</string>
            <key>size</key>
            <string>{1081,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9e2c0caa1be11b98c9542f151128c24:ad2b43af70cf403ce13abbb273acb0b4:b2addeb3122b9af095fd97312ef00a86$</string>
            <key>textureFileName</key>
            <string>light.png</string>
        </dict>
    </dict>
</plist>
