<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-8}</string>
                <key>spriteSize</key>
                <string>{106,117}</string>
                <key>spriteSourceSize</key>
                <string>{126,135}</string>
                <key>textureRect</key>
                <string>{{243,1},{106,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{92,113}</string>
                <key>spriteSourceSize</key>
                <string>{126,135}</string>
                <key>textureRect</key>
                <string>{{351,1},{92,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{102,111}</string>
                <key>spriteSourceSize</key>
                <string>{126,135}</string>
                <key>textureRect</key>
                <string>{{445,1},{102,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{120,131}</string>
                <key>spriteSourceSize</key>
                <string>{126,135}</string>
                <key>textureRect</key>
                <string>{{110,1},{120,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{126,107}</string>
                <key>spriteSourceSize</key>
                <string>{126,135}</string>
                <key>textureRect</key>
                <string>{{1,1},{126,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>magicFire.png</string>
            <key>size</key>
            <string>{548,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1dc75312e8245ad479587c90fae146c4:5efe1f2030da0e236774c637207b3431:b0f89b9f16105adbcd53113c7b7a8629$</string>
            <key>textureFileName</key>
            <string>magicFire.png</string>
        </dict>
    </dict>
</plist>
