<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-39}</string>
                <key>spriteSize</key>
                <string>{330,333}</string>
                <key>spriteSourceSize</key>
                <string>{506,411}</string>
                <key>textureRect</key>
                <string>{{668,618},{330,333}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>h2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-23}</string>
                <key>spriteSize</key>
                <string>{334,267}</string>
                <key>spriteSourceSize</key>
                <string>{506,411}</string>
                <key>textureRect</key>
                <string>{{1,1},{334,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-19}</string>
                <key>spriteSize</key>
                <string>{338,299}</string>
                <key>spriteSourceSize</key>
                <string>{506,411}</string>
                <key>textureRect</key>
                <string>{{648,1},{338,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,16}</string>
                <key>spriteSize</key>
                <string>{314,335}</string>
                <key>spriteSourceSize</key>
                <string>{506,411}</string>
                <key>textureRect</key>
                <string>{{671,302},{314,335}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>h5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,18}</string>
                <key>spriteSize</key>
                <string>{316,307}</string>
                <key>spriteSourceSize</key>
                <string>{506,411}</string>
                <key>textureRect</key>
                <string>{{1,270},{316,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-6}</string>
                <key>spriteSize</key>
                <string>{288,309}</string>
                <key>spriteSourceSize</key>
                <string>{506,411}</string>
                <key>textureRect</key>
                <string>{{337,1},{288,309}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>h7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-43}</string>
                <key>spriteSize</key>
                <string>{324,319}</string>
                <key>spriteSourceSize</key>
                <string>{506,411}</string>
                <key>textureRect</key>
                <string>{{347,605},{324,319}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>h8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,1}</string>
                <key>spriteSize</key>
                <string>{344,315}</string>
                <key>spriteSourceSize</key>
                <string>{506,411}</string>
                <key>textureRect</key>
                <string>{{1,605},{344,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-17}</string>
                <key>spriteSize</key>
                <string>{350,301}</string>
                <key>spriteSourceSize</key>
                <string>{506,411}</string>
                <key>textureRect</key>
                <string>{{319,302},{350,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>healEff.png</string>
            <key>size</key>
            <string>{1007,949}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:366944cb01224b688cf29dd1ed3682ad:15b163061b4a37773888ca236b0f8f1d:352c8429823d1bd6032ecfcc8b678a5f$</string>
            <key>textureFileName</key>
            <string>healEff.png</string>
        </dict>
    </dict>
</plist>
